<% if @book.errors.any? %>
  <div class="error">
    <ul>
      <li>errorがあります</li>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
<h3>Title</h3>
<%= f.text_field :title %>
<h3>Opinion</h3>
<%= f.text_area :body %><br>
<%= f.submit 'Update Book' %>
<% end %>
