<%= render 'layouts/base', user: @user, book: @book %>

<div class="col-md-8 offset-md-1">
  <!-- ユーザーの紹介した本一覧 -->
  <h3 class="mt-4">Books</h3>
  <table class="table">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <% @books.each do |book| %>
      <% bookuser = User.find(book.user_id) %>
      <tr>
        <th>
          <%= link_to user_path(bookuser.id) do %>
            <%= attachment_image_tag bookuser, :profile_image, fallback: "サラリーマン.png", format: 'jpeg', size: "50x50" %>
          <% end %>
        </th>
        <th><%= link_to book.title, book_path(book.id) %></th>
        <th><%= book.body %></th>
      </tr>
    <% end %>
  </table>
</div>