<% if @book.errors.any? %>
  <div class="error">
    <ul>
      <li>errorがあります</li>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'layouts/base', user: @user, book: @book %>

<% @books.each do |book| %>
<div>
  <p>Title<br><%= book.title %></p>
  <p>Opinion<br><%= book.body %></p>
  <p>id<br><%= book.user_id %></p>
</div>
<% end %>