<div class="notice col-12"><%= notice %></div>

<%= render 'layouts/base', user: @user, book: @newbook %>

<div class="col-md-8 offset-md-1">
  <h3 class="mt-4">Book detail</h3>
  <table class="table">
      <tr>
        <th>
          <%= attachment_image_tag @user, :profile_image, fallback: "サラリーマン.png", format: 'jpeg', size: "50x50" %><br>
          <%= link_to @user.name, user_path(@user.id)%>
        </th>
        <th><%= link_to @book.title, book_path(@book.id) %></th>
        <th><%= @book.body %></th>
        <% if @book.user == current_user %>
        
          <th><%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success' %></th>
          <th><%= link_to 'Destroy', "/books/#{@book.id}", class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %></th>
          
        <% else %>
        
          <th>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(@book), method: :delete do %>
                ♥<%= @book.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book), method: :post do %>
                ♡<%= @book.favorites.count %>
              <% end %>
            <% end %>
          </th>
          <th>
            コメント数：<%= @book.book_comments.count %>
          </th>
        <% end %>
      </tr>
  </table>
  <p>
    <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </p>
  
          
</div>