<div class="notice">
  <%= notice %>
</div>
<h1>Book detail</h1>
<p><%= @book.title %></p>
<p><%= @book.body %></p>
<%= link_to 'Edit', edit_book_path(@book.id) %>
<%= link_to 'Destroy', "/books/#{@book.id}", method: :delete, data: { confirm: '本当に削除しますか？' } %>