<div class="notice col-12"><%= notice %></div>

<%= render 'layouts/base', user: @user, book: @newbook %>

<div class="col-md-8 offset-md-1">
  <h3 class="mt-4">Book detail</h3>
  <table class="table">
      <tr>
        <th>
          <%= attachment_image_tag @user, :profile_image, fallback: "サラリーマン.png", format: 'jpeg', size: "50x50" %><br>
          <%= link_to @user.name, user_path(@user.id)%>
        </th>
        <th><%= link_to @book.title, book_path(@book.id) %></th>
        <th><%= @book.body %></th>
        <% if @book.user == current_user %>

          <th><%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success' %></th>
          <th><%= link_to 'Destroy', "/books/#{@book.id}", class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %></th>

        <% end %>

          <th>
            <% if @book.favorited_by?(current_user) %>
              <%= link_to "/books/#{@book.id}/favorites", method: :delete do %>
                <i class="fas fa-heart"><%= @book.favorites.count %></i>
              <% end %>
            <% else %>
              <%= link_to "/books/#{@book.id}/favorites", method: :post do %>
                <i class="far fa-heart"><%= @book.favorites.count %></i>
              <% end %>
            <% end %>
          </th>
          <th>
            コメント数：<%= @book.book_comments.count %>
          </th>
      </tr>
      <% @book_comments.each do |book_comment| %>
        <tr>
          <th>
            <%= attachment_image_tag book_comment.user, :profile_image, fallback: "サラリーマン.png", format: 'jpeg', size: "50x50" %><br>
            <%= link_to book_comment.user.name, user_path(book_comment.user.id)%>
          </th>
          <th>
            <%= book_comment.comment %>
          </th>
          <% if current_user.id == book_comment.user_id %>
            <th>
              <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), class: "btn btn-danger", method: :delete, data: { confirm: "本当に削除しますか？"} %>
            </th>
          <% end %>
        </tr>
      <% end %>
  </table>
  <p>
    <!-- コメントは@bookに結びついた,@book_commentにあるため、インスタンス変数が２ついる
          ルーティングもネスト(親子関係)しているため２ついる-->
    <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに", class: "form-control" %>
      <%= f.submit "送信", class: "mt-3" %>
    <% end %>
  </p>
</div>