<div class="notice col-12"><%= notice %></div>

<%= render 'layouts/base', user: @user, book: @newbook %>

<div class="col-md-8 offset-md-1">
  <h3 class="mt-4">Book detail</h3>
  <table class="table">
      <tr>
        <th>
          <%= attachment_image_tag @user, :profile_image, fallback: "サラリーマン.png", format: 'jpeg', size: "50x50" %><br>
          <%= link_to @user.name, user_path(@user.id)%>
        </th>
        <th><%= link_to @book.title, book_path(@book.id) %></th>
        <th><%= @book.body %></th>
        <% if @book.user == current_user %>
          <th><%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-success' %></th>
          <th><%= link_to 'Destroy', "/books/#{@book.id}", class: 'btn btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %></th>
        <% end %>
      </tr>
  </table>
</div>